*.iml
.gradle
/local.properties
/.idea/*
/.idea/codeStyles
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/appInsightsSettings.xml
/.idea/migrations.xml
/.kotlin
presentation/release
presentation/production
presentation/staging
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
resources
cambios.patch
*.aab
*.apk
